.ccsproject
.cproject
.launches/E07-M1101S_V2.launch
.project
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.debug.core.prefs
.settings/org.eclipse.core.resources.prefs
Debug/CC1101.obj
Debug/E07-M1101S_V2_linkInfo.xml
Debug/SPI.obj
Debug/SPI.pp
Debug/ccsObjs.opt
Debug/debug.obj
Debug/debug.pp
Debug/main.obj
Debug/main.pp
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/subdir_rules.mk
Debug/subdir_vars.mk
lnk_msp430g2553.cmd
targetConfigs/MSP430G2553.ccxml
targetConfigs/readme.txt
